.frame {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  align-self: center;
  width: 400px;
  @media screen and (max-width: 400px) {
     {
      width: 100%;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background: rgb(115, 31, 170);
  background: -moz-linear-gradient(
    320deg,
    rgba(115, 31, 170, 1) 40%,
    rgba(255, 0, 82, 1) 100%
  );
  background: -webkit-linear-gradient(
    320deg,
    rgba(115, 31, 170, 1) 40%,
    rgba(255, 0, 82, 1) 100%
  );
  background: linear-gradient(
    320deg,
    rgba(115, 31, 170, 1) 40%,
    rgba(255, 0, 82, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#731faa",endColorstr="#ff0052",GradientType=1);
}
